.history-list {
  min-height: 5vh;
  max-height: 30vh;
  overflow-y: scroll;

  .history {
    display: flex;
    justify-content: space-between;

    .mutation {
      margin-top: 1.5%;
      width: 20%;
      overflow-x: scroll;

      &:last-child {
        margin-bottom: 2%;
      }
    }
  }
}
