.history {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;

  .mutation {
    margin-top: 1.5%;
    width: 20%;
    overflow-x: scroll;

    &:last-child {
      margin-bottom: 2%;
    }
  }
}
